.nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(31, 132, 210, 0.3);
  padding: 0.7rem 5%;
  z-index: 30;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Helvetica Light';
}

.site-title {
  font-size: 2rem;
  color: #ea2e8c;
  text-shadow: 3px 3px #f1e53cd5;
  font-family: 'Alien Encounters Italic';
}

.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item {
  display: flex;
  align-items: center;
}

.modal-link {
  cursor: pointer;
  padding: 0.45rem;
  margin: 0 0.25rem;
  color: #ffffff;
  font-weight: bold;
}

#secondary-btn {
  margin-left: 10px;
}

.welcome {
  color: whitesmoke;
  font-size: 2rem;
  margin: 0 20px 5px 0;
}
