.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2d2636;
  padding: 10vh 50px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
.button {
  margin: 2rem;
}
