.container {
  height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2d2636;
  padding: 10vh 50px;
}

.question {
  align-self: center;
  font-size: 4rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form .checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.checkbox-container:not(:last-child) {
  border-right: 2px solid #fff;
}

.button {
  margin: 20px;
}
