.container {
  text-align: center;
  color: #fff;
}

.question {
  align-self: center;
  font-size: 4rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form .checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.checkbox-container:not(:last-child) {
  border-right: 2px solid #fff;
}
