.introSection {
  padding: 0 2rem 200px 2rem;
  padding-top: 10vh; /* Navigation */
  height: calc(100vh + 200px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://wallpapercave.com/wp/wp4512631.jpg');
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: 'Helvetica Light';
}

.description {
  color: #f1e53c;
  font-size: 1.5rem;
  text-shadow: 3px 3px #444;
  padding: 2rem 3rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  width: 70%;
  text-align: center;
}

.scroll {
  margin: 3rem 0;
  color: #ea2e8c;
  text-shadow: 3px 2px #aaaaaa;
  text-transform: uppercase;
  font-size: 2rem;
  z-index: 1;
  font-family: 'Alien Encounters Italic';
}

.separator {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 10%;
  height: 300px;
  transform: rotate(15deg);
}

.separatorImage {
  height: 100%;
}
